### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# JVM crash reports
hs_err_pid*
*.hprof

target
GTAGS
GRTAGS
GPATH
out/
classes/
bin/

*~
build
.idea/
/code/sonar/cpp/.sconsign.dblite
/code/sonar/cpp/sonarServer
*.o
*.xml#
/python/__pycache__/
__pycache__
.sconsign.dblite
/code/sonar/src/main/cpp/sonar.cpp
/code/sonar/src/main/cpp/sonar.h
/code/sonar/src/main/cpp/chronoStuff
/code/sonar/src/main/cpp/ruleLoaderMain
/code/sonar/src/main/cpp/sonarServer
#*#
/code/imguiExperiments/compile_commands.json
/code/imguiExperiments/chatGptExample2

*.ini
/code/implotExperiments/src/main/cpp/demo
*.log
/code/tickserver/src/main/cpp/tickServerClient
/code/tickserver/src/main/cpp/compile_commands.json
code/tickserver/src/main/cpp/guiListener_main
/code/tickserver/src/main/cpp/guiListener
/code/tickserver/src/main/cpp/demo
/code/imguiExperiments/implotExample
/code/sonar/src/main/cpp/.cache/
/code/sonar/src/main/cpp/compile_commands.json
/code/imguiExperiments/.cache/
/code/imguiExperiments/main
/code/imguiExperiments/imgui_example
/code/imguiDockingExperiments/example_sdl2_sdlrenderer2
/code/imguiDockingExperiments/imgui_example
/code/imguiDockingExperiments/.cache/
/deps/imgui_demos
/code/implotExperiments/src/main/cpp/demo_local
/code/implotExperiments2/src/main/cpp/demo_local
/code/implotExperiments2/src/main/cpp/.cache/
/code/implotExperiments2/src/main/cpp/compile_commands.json
/code/implotExperiments/src/main/cpp/compile_commands.json
/code/tickserver/src/main/cpp/.cache/
/code/implotExperiments/src/main/cpp/.cache
/code/implotExperiments/src/main/cpp/guiListener_main
/code/implotExperiments/src/main/cpp/imgui_log.txt
/code/implotExperiments/src/main/cpp/flycheck_guiListener_main.cpp
/code/scheduler/src/main/cpp/.cache/
/code/scheduler/src/main/cpp/compile_commands.json
/code/scheduler/src/main/cpp/schedulerServer
/sbe-kotlin-plugin/gradle/
**/#*#
/code/marketdata.dat
**/.cache
/code/apiExperiment/src/main/cpp/api3
/gistUtils.iml
/gradle/wrapper/.#gradle-wrapper.properties
/.#gradle.properties
/.kotlin/sessions/*.salive
